.container {
	background-color:#FFFFFF;
	padding:0;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
    opacity: 0.8;
}

.navbar {
	overflow: hidden;
}


@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.gnav {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin:30px auto;
}
.gnav * {
  box-sizing: border-box;
}
.gnav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
}
.gnav a {
  padding: 0.5em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.gnav a:before,
.gnav a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.gnav a:before {
  bottom: 0;
  display: block;
  height: 1px;
  width: 0%;
  content: "";
  background-color: #FFF;
}
.gnav a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.gnav a:hover:before,
.gnav .current a:before {
  opacity: 1;
  width: 100%;
}
.gnav a:hover:after,
.gnav .current a:after {
  max-width: 100%;
}

.navbar ul {
	/*
	left:50%;
	*/
	position:relative;
}

.navbar li {
	color:#FFFFFF;
	/*
	left:-50%;
	*/
	position:relative;
}

.navbar li a {
	list-style:none;
	text-decoration:none;
}

/* タブ */
.news {
	margin-top:30px;
}

.news ul li {
    float: left;
    list-style-type: none;
    width: 20%;
	margin:0 auto;
}
 
.news ul li a {
    font-size: 1em;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 5%;
    text-align: center;
    width: 100%;
    background: #414349;
    border: 1px solid #414349;
    border-bottom: none;
}
.news ul li a:hover{
    background:#ebebeb;
    color:#414349;
}
 
.news ul li a.current {
    background:#ebebeb;
    color: #414349;
}
 
#news_contents{
    clear:both;
}
 
#news_contents div {
    padding: 5%;
    background: white;
    text-align: center;
	/*
    border: 1px solid #c15757;
    */
	border-top: none;
}
 
#news_contents p{
    margin-top:20px;
    line-height:2em;
    color:#C15757;
}
 
#news_contents strong {
    font-size: 2em;
    font-weight: bold;
    color: #c15757;
    text-decoration: underline;
}